@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agents';
@import 'blocks/price';
@import 'blocks/managers';
@import 'blocks/instruction';
@import 'blocks/review';
@import 'blocks/ask';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/media';