.ask {
    min-height: 438px;
    background: url('../../img/fourth_photo.jpg') center center / cover no-repeat;
    &__wrapper {
        padding-top: 62px;
        max-width: 896px;
        min-height: 297px;
        margin: 0 auto;
        &-title {
            height: 68px;
            margin: 0 auto;
            background-color: #25333c;
        }
        &-form {
            max-width: 896px;
            min-height: 229px;
            background: rgba(255, 255, 255, 0.7);
        }
    }
    &__title {
        padding-top: 17px;
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__form {
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: 47px minmax(73px, auto);
        justify-content: center;
        column-gap: 4px;
        row-gap: 6px;
        padding-top: 17px;
    }
    &__input {
        input {
            width: 270px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #7e7e7e;
            border-radius: 26px;
            padding: 0 25px;
            font-size: 13px;
            font-weight: 400;
            outline: none;
        }
    }
    &__textarea {
        grid-column: 1 / 4;
        textarea {
            width: 100%;
            min-height: 73px;
            background-color: #ffffff;
            border: 1px solid #7e7e7e;
            border-radius: 10px;
            padding: 15px 25px;
            font-size: 13px;
            line-height: 17px;
            font-weight: 400;
            color: #616467;
            outline: none;
            resize: none;
        }
    }
    &__btn {
        margin-top: 16px;
        padding-bottom: 25px;
    }
    button {
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 45px;
        background-color: $main-color;
        border-radius: 26px;
        border: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        &:hover {
            background-color: #dc5238;;
            transition: 0.6s;
        }
    }
}