.managers {
    min-height: 342px;
    background: url('../../img/third_photo.jpg') center center / cover no-repeat;
    &__wrapper {
        padding-top: 58px;
        padding-bottom: 75px;
    }
    &__icon {
        position: relative;
        width: 102px;
        height: 102px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        margin: 0 auto;
        img {
            position: absolute;
            left: 23%;
            top: 23%;
        }
    }
    &__title {
        padding-top: 20px;
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        color: #ffffff;
        text-align: center;
    }
    &__subtitle {
        padding-top: 22px;
        width: 867px;
        margin: 0 auto;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
}