.map {
    position: relative;
    min-height: 500px;
    background: url('../../img/map.png') center center / cover no-repeat;
    &__wrapper {
        display: grid;
        grid-template-columns: 51px 329px;
        justify-content: center;
        column-gap: 26px;
        padding-top: 171px;
    }
    &__address {
        background-color: #fff;
        width: 300px;
        height: 158px;
    }
    &__marker {
        display: grid;
        align-self: center;
    }
    &__title {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
        padding-top: 27px;
        padding-left: 27px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        padding-left: 27px;
        a {
            font-size: 14px;
            font-weight: 300;
            color: $main-color;
        }
    }
}