@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__link {
            font-size: 12px;
        }
        &__text {
            font-size: 12px;
        }
        &__phone {
            a {
                font-size: 16px;
            }
        }
        &__features {
            grid-template-columns: repeat(4, 240px);
        }
        &__descr {
            font-size: 14px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__title {
            font-size: 65px;
        }
        &__subtitle {
            font-size: 40px;
        }
    }
    .advantages {
        &__items {
            grid-template-columns: 455px 455px;
            column-gap: 50px;
        }
        &__item {
            grid-template-columns: 62px 375px;
        }
    }
    .work {
        &__items {
            grid-template-columns: repeat(3,300px);
        }
        &__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__header {
            height: 60px;
        }
        &__menu {
            &-item {
                height: 15px;
                padding-right: 5px;
                padding-left: 5px;
            }
        }
        &__link {
            font-size: 11px;
        }
        &__header {
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            a {
                font-size: 12px;
                line-height: 12px;
            }
            &-text {
                font-size: 12px;
                line-height: 12px;
            }
        }
        &__wrapper {
            padding-top: 10px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__title {
            font-size: 55px;
            padding-top: 10px;
        }
        &__subtitle {
            font-size: 33px;
        }
        &__divider {
            width: 280px;
        }
        &__features {
            grid-template-columns: repeat(4, 180px);
            justify-content: center;
            row-gap: 20px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .advantages {
        padding-bottom: 58px;
        &__items {
            grid-template-columns: 455px;
            justify-content: center;
        }
    }
    .work {
        &__items {
            grid-template-columns: repeat(2, 345px);
            row-gap: 40px;
        }    
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__header {
            nav {
                display: none;
            }
        }
        &__btn {
            width: 150px;
            height: 35px;
            &-btn {
                margin-top: 15px;
            }
        }
        &__subheader {
            font-size: 18px;
            padding-top: 10px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__divide {
            padding-top: 30px;
        }
        &__divider {
            width: 220px;
        }
        &__features {
            grid-template-columns: repeat(2, 215px);
        }
    } 
    .work {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__items {
            grid-template-columns: repeat(2, 250px);
            row-gap: 40px;
            column-gap: 40px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    }       
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__header {
            justify-content: center;
            img {
                display: none;
            }
        }
        &__subheader {
            font-size: 13px;
            padding-top: 0;
        }
        &__title {
            font-size: 23px;
            padding-top: 3px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__divide {
            padding-top: 18px;
        }
        &__divider {
            width: 115px;
        }
        &__features {
            grid-template-columns: repeat(2, 145px);
            column-gap: 5px;
            &-item {
                row-gap: 9px;
            }
        }
        &__descr {
            font-size: 11px;
        }
        &__btn {
            &-btn {
                margin-top: 39px;
            }
        }
    }
    .advantages {
        &__items {
            grid-template-columns: 300px;
            row-gap: 20px;
        }
        &__item {
            grid-template-columns: 300px;
            grid-template-rows: 62px minmax(62px, auto);
        }
        &__img {
            margin: 0 auto;
        }
        &__description {
            text-align: center;
        }
    }
    .work {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__items {
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__item {
            row-gap: 15px;
        }
    }
}