@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .promo {
        &__link {
            font-size: 12px;
        }
        &__text {
            font-size: 12px;
        }
        &__phone {
            a {
                font-size: 16px;
            }
        }
        &__features {
            grid-template-columns: repeat(4, 240px);
        }
        &__descr {
            font-size: 14px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__title {
            font-size: 65px;
        }
        &__subtitle {
            font-size: 40px;
        }
    }
    .advantages {
        &__items {
            grid-template-columns: 455px 455px;
            column-gap: 50px;
        }
        &__item {
            grid-template-columns: 62px 375px;
        }
    }
    .work {
        &__items {
            grid-template-columns: repeat(3,300px);
        }
        &__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .price {
        &__items {
            grid-template-columns: repeat(3, 267px);
            row-gap: 40px;
        }
        &__consultation {
            &-icon {
                left: 44%;
            }
            &-btn {
                button {
                    left: 400px;
                }
            }
        }
    }
    .instruction {
        &__items {
            grid-template-columns: repeat(3, 250px);
        }
    }

    .review__full .slick-arrow.slick-prev{
        left: 385px;
    }
    
    .review__full .slick-arrow.slick-next{
        right: 385px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        &__header {
            height: 60px;
        }
        &__menu {
            &-item {
                height: 15px;
                padding-right: 5px;
                padding-left: 5px;
            }
        }
        &__link {
            font-size: 11px;
        }
        &__header {
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            a {
                font-size: 12px;
                line-height: 12px;
            }
            &-text {
                font-size: 12px;
                line-height: 12px;
            }
        }
        &__wrapper {
            padding-top: 10px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__title {
            font-size: 55px;
            padding-top: 10px;
        }
        &__subtitle {
            font-size: 33px;
        }
        &__divider {
            width: 280px;
        }
        &__features {
            grid-template-columns: repeat(4, 180px);
            justify-content: center;
            row-gap: 20px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .advantages {
        padding-bottom: 58px;
        &__items {
            grid-template-columns: 455px;
            justify-content: center;
        }
    }
    .work {
        &__items {
            grid-template-columns: repeat(2, 345px);
            row-gap: 40px;
        }    
    }
    .price {
        &__items {
            grid-template-columns: repeat(2, 267px);
            justify-content: center;
            column-gap: 40px;
        }
        &__consultation {
            &-icon {
                left: 42%;
            }
            &-btn {
                button {
                    left: 272px;
                }
            }
        }
        &__form {
            grid-template-columns: repeat(3, 200px);
            input {
                width: 200px;
                height: 40px;
            }
        }
    }
    .instruction {
        &__items {
            grid-template-columns: repeat(3, 240px);
        }
    }
    .review__full .slick-arrow.slick-prev{
        left: 265px;
    }
    
    .review__full .slick-arrow.slick-next{
        right: 265px;
    }
    .ask {
        &__form {
            grid-template-columns: repeat(3, 232px);
            input {
                width: 232px;
            }
        }
    }
    .footer {
        &__title {
            display: none;
        }
        &__top {
            grid-template-columns: 96px 345px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__header {
            nav {
                display: none;
            }
        }
        &__btn {
            width: 150px;
            height: 35px;
            &-btn {
                margin-top: 15px;
            }
        }
        &__subheader {
            font-size: 18px;
            padding-top: 10px;
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__divide {
            padding-top: 30px;
        }
        &__divider {
            width: 220px;
        }
        &__features {
            grid-template-columns: repeat(2, 215px);
        }
    } 
    .work {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__items {
            grid-template-columns: repeat(2, 250px);
            row-gap: 40px;
            column-gap: 40px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__descr {
            font-size: 13px;
        }
    }       
    .price {
        &__wrapper {
            padding-bottom: 190px;
        }
        &__items {
            gap: 20px;
        }
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__consultation {
            &-icon {
                left: 39%;
            }
            &-btn {
                button {
                    left: 185px;
                }
            }
        }
        &__form {
            height: 290px;
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: repeat(3, 45px);
            row-gap: 10px;
            justify-content: center;
            align-content: center;
            input {
                width: 270px;
                height: 45px;
            }
        }
    }
    .instruction {
        &__items {
            grid-template-columns: repeat(2, 250px);
        }
    }
    .review__full .slick-arrow.slick-prev{
        left: 175px;
    }
    
    .review__full .slick-arrow.slick-next{
        right: 175px;
    }
    .ask {
        &__form {
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: 47px 47px 47px minmax(73px, auto);
            justify-content: center;
        }
        &__input {
            grid-column: 1 / 1;
            input {
                width: 270px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        &__header {
            justify-content: center;
            img {
                display: none;
            }
        }
        &__subheader {
            font-size: 13px;
            padding-top: 0;
        }
        &__title {
            font-size: 23px;
            padding-top: 3px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__divide {
            padding-top: 18px;
        }
        &__divider {
            width: 115px;
        }
        &__features {
            grid-template-columns: repeat(2, 145px);
            column-gap: 5px;
            &-item {
                row-gap: 9px;
            }
        }
        &__descr {
            font-size: 11px;
        }
        &__btn {
            &-btn {
                margin-top: 39px;
            }
        }
    }
    .advantages {
        &__items {
            grid-template-columns: 300px;
            row-gap: 20px;
        }
        &__item {
            grid-template-columns: 300px;
            grid-template-rows: 62px minmax(62px, auto);
        }
        &__img {
            margin: 0 auto;
        }
        &__description {
            text-align: center;
        }
    }
    .work {
        &__title {
            font-size: 20px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__items {
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__item {
            row-gap: 15px;
        }
    }
    .agents {
        &__subtitle {
            font-size: 17px;
        }
    }
    .price {
        &__items {
            grid-template-columns: repeat(1, 267px);
        }
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__consultation {
            &-icon {
                top: 45%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
            &-btn {
                button {
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    .managers {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 15px;
        }
    }
    .instruction {
        &__items {
            grid-template-columns: 250px;
            justify-content: center;
        }
    }
    .review {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .review__full .slick-arrow.slick-prev{
        left: 60px;
    }
    
    .review__full .slick-arrow.slick-next{
        right: 60px;
    }
    .map {
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__marker {
            display: none;
        }
        &__address {
            width: 300px;
        }
    }
    .footer {
        &__top {
            grid-template-columns: 300px;
            justify-content: center;
        }
        &__glopt {
            display: none;
        }
        &__phone {
            &-text {
                font-size: 12px;
            }
            a {
                font-size: 15px;
            }
        }
        &__btn {
            height: 40px;
        }
        &__low {
            display: grid;
            grid-template-columns: 300px;
            row-gap: 15px;
            justify-content: center;
        }
        &__crbase {
            justify-content: center;
        }
        &__creator {
            text-align: center;
            font-size: 10px;
        }
        &__policy {
            font-size: 10px;
            text-align: center;
        }
        &__creating {
            font-size: 10px;
        }
    }
}