.promo {
    padding-top: 23px;
    background: url('../../img/main_photo.jpg') center center / cover no-repeat;
}

nav {
    display: grid;
    grid-template-columns: 96px 596px 342px;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-between;
    }
}