.promo {
    padding-top: 23px;
    background: url('../../img/main_photo.jpg') center center / cover no-repeat;
    &__logo {
        
        display: block;
        z-index: 2;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        justify-content: space-between;
    }
}