.promo {
    min-height: 680px;
    padding-top: 23px;
    background: url('../../img/main_photo.jpg') center center / cover no-repeat;
    &__header {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav {
            height: 24px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 0;
        &-item {
            border-right: 1px dotted rgb(255, 255, 255);
            padding-right: 15px;
            padding-left: 15px;
            &:nth-child(7) {
                display: none;
            }
        }
    }
    &__link {
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        &:hover {
            color: $main-color;
            border-bottom: 1px solid;;
        }
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
    }
    &__phone {
        justify-content: flex-end;
        padding-right: 20px;
        &-text {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
            text-align: right;
        }
        a {
            font-size: 19px;
            font-weight: 700;
            color: #ffffff;
            text-align: right;
            text-decoration: none;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__btn {
        width: 160px;
        height: 45px;
        background-color: $main-color;
        border: none;
        border-radius: 26px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        &:hover {
            background-color: rgba($color: gray, $alpha: 1.0);
            border: 1px solid #ffffff;
            transition: 0.5s;
        }
    }
    &__subheader {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        line-height: 24px;
    }
    &__title {
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
        line-height: 1.2;
    }
    &__subtitle {
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        line-height: 1.2;
    }
    &__divide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10px;
        padding-top: 38px;
    }
    &__divider {
        width: 390px;
        height: 1px;
        background-color: #ffffff;
    }
    &__dot {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #ffffff;
        margin: 0 10px;
    }
    &__features {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        justify-content: space-between;
        padding-top: 27px;
        &-item {
            display: grid;
            grid-template-rows: 67px minmax(61px, auto);
            justify-self: center;
            row-gap: 13px;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__btn {
        &-btn {
            display: block;
            margin: 0 auto;
            width: 230px;
            height: 57px;
            background-color: $main-color;
            border-radius: 26px;
            border: none;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 39px;
            &:hover {
                background-color: rgba($color: gray, $alpha: 1.0);
                border: 1px solid #ffffff;
                transition: 0.5s;
            }
        }
    }
}