

.review {
    min-height: 470px;
    padding: 0;
    &__wrapper {
        padding-top: 51px;
        padding-bottom: 65px;
    }
    &__title {
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2e2e2e;
        text-align: center;
    }
    &__divider {
        padding-top: 20px;
        div {
            box-sizing: border-box;
            width: 148px;
            height: 1px;
            background-color: $main-color;
            margin: 0 auto;
        }
    }
    &__subtitle {
        padding-top: 17px;
        width: 881px;
        margin: 0 auto;
        font-size: 21px;
        line-height: 24px;
        font-weight: 500;
        color: #2e2e2e;
        text-align: center;
    }
    &__full {
        display: block;
        margin: 0 auto;
    }
    &__pic {
        display: block;
        width: 603px;
        margin: 0 auto;
        .name {
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: #3a3a3a;
        }
        .comment {
            font-size: 14.1px;
            font-weight: 300;
        }
    }    
}