

.review {
    min-height: 470px;
    padding: 0;
    &__wrapper {
        padding-top: 51px;
        padding-bottom: 65px;
    }
    &__title {
        font-size: 26px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
        color: #2e2e2e;
        text-align: center;
    }
    &__divider {
        padding-top: 20px;
        div {
            box-sizing: border-box;
            width: 148px;
            height: 1px;
            background-color: $main-color;
            margin: 0 auto;
        }
    }
    &__subtitle {
        padding-top: 17px;
        margin: 0 auto;
        font-size: 21px;
        line-height: 24px;
        font-weight: 500;
        color: #2e2e2e;
        text-align: center;
    }
    &__full {
        position: relative;
        display: block;
        margin: 0 auto;
        padding-top: 31px;

    }
    &__pic {
        display: block;
        width: 603px;
        margin: 0 auto;
        img{
            display: block;
            margin: 0 auto;
        }
        .name {
            padding-top: 19px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 700;
            color: #3a3a3a;
            text-align: center;
        }
        .comment {
            padding-top: 10px;
            font-size: 14px;
            font-weight: 400;
            text-align: justify;
        }
    }    
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.review__full .slick-arrow{
    position: absolute;
    top: 27%;
    z-index: 10;
    font-size: 0;
    width: 14px;
    height: 46px;
    border: none;
}

.review__full .slick-arrow.slick-prev{
    left: 460px;
    top: 70px;
    background: url('../../icons/rectangle_left.png') 0 0 / 100% no-repeat;
}

.review__full .slick-arrow.slick-next{
    right: 460px;
    top: 70px;
    background: url('../../icons/rectangle_right.png') 0 0 / 100% no-repeat;
}